sample/Activity.xml
sample/Candidate.xml
sample/Client.xml
sample/Contract.xml
sample/Job.xml
sample/Option.xml
sample/Patition.xml
sample/Process.xml
sample/Recruiter.xml
sample/Resume.xml
sample/Sales.xml
sample/user.xml
